In [2]:
import pandas as pd
import polars as pl

In [3]:
npi = pd.read_csv('../data/npidata_pfile_20050523-20240211.csv', nrows = 1000)

In [4]:
# modify read in to get necessary columns and rename at the same time
npi.head()

,NPI,Entity Type Code,Replacement NPI,Employer Identification Number (EIN),Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,...,Healthcare Provider Taxonomy Group_7,Healthcare Provider Taxonomy Group_8,Healthcare Provider Taxonomy Group_9,Healthcare Provider Taxonomy Group_10,Healthcare Provider Taxonomy Group_11,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,Certification Date
0,1679576722,1.0,NaN,NaN,NaN,WIEBE,DAVID,A,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1588667638,1.0,NaN,NaN,NaN,PILCHER,WILLIAM,C,DR.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1497758544,2.0,NaN,<UNAVAIL>,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1306849450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1215930367,1.0,NaN,NaN,NaN,GRESSOT,LAURENT,NaN,DR.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# figure out how to get the relevant taxonomy code
# probably need a loop?
# choose code where corresponding switch value is 'Y'
taxonomy = pd.concat([npi.filter(like = 'Healthcare Provider Primary'), npi.filter(like = 'Healthcare Provider Taxonomy Code')], axis = 1)

In [17]:
taxonomy.head()

,Healthcare Provider Primary Taxonomy Switch_1,Healthcare Provider Primary Taxonomy Switch_2,Healthcare Provider Primary Taxonomy Switch_3,Healthcare Provider Primary Taxonomy Switch_4,Healthcare Provider Primary Taxonomy Switch_5,Healthcare Provider Primary Taxonomy Switch_6,Healthcare Provider Primary Taxonomy Switch_7,Healthcare Provider Primary Taxonomy Switch_8,Healthcare Provider Primary Taxonomy Switch_9,Healthcare Provider Primary Taxonomy Switch_10,...,Healthcare Provider Taxonomy Code_6,Healthcare Provider Taxonomy Code_7,Healthcare Provider Taxonomy Code_8,Healthcare Provider Taxonomy Code_9,Healthcare Provider Taxonomy Code_10,Healthcare Provider Taxonomy Code_11,Healthcare Provider Taxonomy Code_12,Healthcare Provider Taxonomy Code_13,Healthcare Provider Taxonomy Code_14,Healthcare Provider Taxonomy Code_15
0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Y,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
def extract_taxonomy_code(row):

    for i in range(1, 16):
        switch_col_name = f'Healthcare Provider Primary Taxonomy Switch_{i}'
        if row[switch_col_name] == 'Y':
            code_col_name = f'Healthcare Provider Taxonomy Code_{i}'
            return row[code_col_name]
    
    return None # catch columns with no 'Y' switch

In [45]:
taxonomy['extracted_taxonomy_code'] = taxonomy.apply(extract_taxonomy_code, axis = 1)

In [46]:
taxonomy.head()

,Healthcare Provider Primary Taxonomy Switch_1,Healthcare Provider Primary Taxonomy Switch_2,Healthcare Provider Primary Taxonomy Switch_3,Healthcare Provider Primary Taxonomy Switch_4,Healthcare Provider Primary Taxonomy Switch_5,Healthcare Provider Primary Taxonomy Switch_6,Healthcare Provider Primary Taxonomy Switch_7,Healthcare Provider Primary Taxonomy Switch_8,Healthcare Provider Primary Taxonomy Switch_9,Healthcare Provider Primary Taxonomy Switch_10,...,Healthcare Provider Taxonomy Code_7,Healthcare Provider Taxonomy Code_8,Healthcare Provider Taxonomy Code_9,Healthcare Provider Taxonomy Code_10,Healthcare Provider Taxonomy Code_11,Healthcare Provider Taxonomy Code_12,Healthcare Provider Taxonomy Code_13,Healthcare Provider Taxonomy Code_14,Healthcare Provider Taxonomy Code_15,extracted_taxonomy_code
0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207X00000X
1,Y,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207RC0000X
2,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251G00000X
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,N,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207RH0003X

In [22]:
taxonomy.info()
# having doublechecked the values in the switch columns, it appears that there are rows with no 'Y' switch
# should those rows be dropped, or possibly the taxonomy code in Code_1 could be inferred to be the correct code?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Healthcare Provider Primary Taxonomy Switch_1   930 non-null    object
 1   Healthcare Provider Primary Taxonomy Switch_2   255 non-null    object
 2   Healthcare Provider Primary Taxonomy Switch_3   58 non-null     object
 3   Healthcare Provider Primary Taxonomy Switch_4   23 non-null     object
 4   Healthcare Provider Primary Taxonomy Switch_5   13 non-null     object
 5   Healthcare Provider Primary Taxonomy Switch_6   10 non-null     object
 6   Healthcare Provider Primary Taxonomy Switch_7   6 non-null      object
 7   Healthcare Provider Primary Taxonomy Switch_8   6 non-null      object
 8   Healthcare Provider Primary Taxonomy Switch_9   4 non-null      object
 9   Healthcare Provider Primary Taxonomy Switch_10  2 non-null      object
 10  Healthcare Provider Primary Taxonomy Switch_11  1 non-null      object
 11  Healthcare Provider Primary Taxonomy Switch_12  1 non-null      object
 12  Healthcare Provider Primary Taxonomy Switch_13  1 non-null      object
 13  Healthcare Provider Primary Taxonomy Switch_14  0 non-null      float64
 14  Healthcare Provider Primary Taxonomy Switch_15  0 non-null      float64
 15  Healthcare Provider Taxonomy Code_1             930 non-null    object
 16  Healthcare Provider Taxonomy Code_2             255 non-null    object
 17  Healthcare Provider Taxonomy Code_3             58 non-null     object
 18  Healthcare Provider Taxonomy Code_4             23 non-null     object
 19  Healthcare Provider Taxonomy Code_5             13 non-null     object
 20  Healthcare Provider Taxonomy Code_6             10 non-null     object
 21  Healthcare Provider Taxonomy Code_7             6 non-null      object
 22  Healthcare Provider Taxonomy Code_8             6 non-null      object
 23  Healthcare Provider Taxonomy Code_9             4 non-null      object
 24  Healthcare Provider Taxonomy Code_10            2 non-null      object
 25  Healthcare Provider Taxonomy Code_11            1 non-null      object
 26  Healthcare Provider Taxonomy Code_12            1 non-null      object
 27  Healthcare Provider Taxonomy Code_13            1 non-null      object
 28  Healthcare Provider Taxonomy Code_14            0 non-null      float64
 29  Healthcare Provider Taxonomy Code_15            0 non-null      float64
 30  extracted_taxonomy_code                         920 non-null    object
dtypes: float64(4), object(27)
memory usage: 242.3+ KB

In [48]:
# if we decide to drop rows with no 'Y' switch
taxonomy.dropna(subset = ['extracted_taxonomy_code'], inplace = True)

In [49]:
taxonomy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 920 entries, 0 to 999
Data columns (total 31 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Healthcare Provider Primary Taxonomy Switch_1   920 non-null    object
 1   Healthcare Provider Primary Taxonomy Switch_2   245 non-null    object
 2   Healthcare Provider Primary Taxonomy Switch_3   56 non-null     object
 3   Healthcare Provider Primary Taxonomy Switch_4   22 non-null     object
 4   Healthcare Provider Primary Taxonomy Switch_5   13 non-null     object
 5   Healthcare Provider Primary Taxonomy Switch_6   10 non-null     object
 6   Healthcare Provider Primary Taxonomy Switch_7   6 non-null      object
 7   Healthcare Provider Primary Taxonomy Switch_8   6 non-null      object
 8   Healthcare Provider Primary Taxonomy Switch_9   4 non-null      object
 9   Healthcare Provider Primary Taxonomy Switch_10  2 non-null      object
 10  Healthcare Provider Primary Taxonomy Switch_11  1 non-null      object
 11  Healthcare Provider Primary Taxonomy Switch_12  1 non-null      object
 12  Healthcare Provider Primary Taxonomy Switch_13  1 non-null      object
 13  Healthcare Provider Primary Taxonomy Switch_14  0 non-null      float64
 14  Healthcare Provider Primary Taxonomy Switch_15  0 non-null      float64
 15  Healthcare Provider Taxonomy Code_1             920 non-null    object
 16  Healthcare Provider Taxonomy Code_2             245 non-null    object
 17  Healthcare Provider Taxonomy Code_3             56 non-null     object
 18  Healthcare Provider Taxonomy Code_4             22 non-null     object
 19  Healthcare Provider Taxonomy Code_5             13 non-null     object
 20  Healthcare Provider Taxonomy Code_6             10 non-null     object
 21  Healthcare Provider Taxonomy Code_7             6 non-null      object
 22  Healthcare Provider Taxonomy Code_8             6 non-null      object
 23  Healthcare Provider Taxonomy Code_9             4 non-null      object
 24  Healthcare Provider Taxonomy Code_10            2 non-null      object
 25  Healthcare Provider Taxonomy Code_11            1 non-null      object
 26  Healthcare Provider Taxonomy Code_12            1 non-null      object
 27  Healthcare Provider Taxonomy Code_13            1 non-null      object
 28  Healthcare Provider Taxonomy Code_14            0 non-null      float64
 29  Healthcare Provider Taxonomy Code_15            0 non-null      float64
 30  extracted_taxonomy_code                         920 non-null    object
dtypes: float64(4), object(27)
memory usage: 230.0+ KB